<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#index">Coinfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li>>
        <%= link_to, "Home", root_path %>
      </li>
      <li>>
        <%= link_to, "About Us", home_about_path %>
      </li>
      <li>>
        <%= link_to, "Lookup", home_lookup_path %>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#faq">Login</a>
      </li>
    </ul>
  </div>
</nav><!-- End Nav -->